*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hide {
    display: none;
  }



body {
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    background-color: #ffe6f2;
    display: flex;
    flex-direction: column;
    
}


.header-img{
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-inline: auto;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.2));
  }


.container{
    
    flex: 1;
    position: relative;
    isolation: isolate;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }


.image-1, .image-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-1 {
    width: 175px;
  }
  
  .image-2 {
    width: 250px;
  }
  

button {
    position: absolute;
    top: calc(100%-5rem);
    min-width: 120px;
    padding: 0.75rem 1rem;
    background-color: #f5b0b9;
    cursor: pointer;
    color: white;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    font-size: 1.25rem;
    transition: 0.3s;
}

button:hover {
    background-color: #da657f;
}
.btn-yes {
    left: 50%;
    transform: translateX(calc(-100% - 1rem));
    z-index: 1;
  }
  
  .btn-no {
    left: calc(50% + 1rem);
    transition: all 0.5s ease;
    z-index: 2;
  }
